.footer{
    padding: 0.5rem;
    border-top: 1px solid white;
}

.footer-title{
    text-align: center;
    margin-top: 1rem;
}

.footer p{
    text-align: center;
    margin-top: 0.5rem;
}


.lista-redes-sociais{
    width: 10%;
    margin: 1rem auto;
}
.lista-redes-sociais ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
}

.lista-redes-sociais ul li a{
    text-decoration: none;
    color: white;
}

.lista-redes-sociais ul li a:hover {
   color: gray;
}

.bola{
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

